@charset "utf-8";
.contenedor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	top: 0px;
	clip: rect(0px,auto,auto,auto);
	width: 845px;
	right: 0px;
	display: block;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.contenedor2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1024px;
	display: table;
	margin-right: auto;
	margin-left: auto;
	background-color: #CCC;
	font-size: 12px;
}
.contenedor #razon_social{
	background-color: #999;
	display: block;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;

}
#razon_social .tablas {
	background-color: #999;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	display: table;
}
.contenedor #consulta .letras tr td b {
	font-size: 10px;
}
.contenedor2 #consulta .letras tr td b {
	font-size: 10px;
}
.contenedor2 #consulta .tablas {
	font-size: 10px;
}
.contenedor h1 {
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
#titulo {
}

.contenedor h2 {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
.contenedor h3 {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	left: 20px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CCC;
}
#consulta .tablas {
	background-color: #999;
	display: table;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
/*	text-align: left;*/
}
#consulta .tablas3 {
	background-color: #999;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	display: table;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;

}

#resultado .tablas2 {
	background-color: #FFF;
	display: table;
	position: relative;
	border: thin solid #000;
	margin: auto;
	font-size: 11px;

}
.error {
	color: #F00;
	font-weight: bold;
	font-size: 24px;
	text-align: justify;
	text-transform: capitalize;
}
#resultado h1 {
	font-size: 18px;
}
.contenedor #consulta .tablas3 a   {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
}

.link_foot {
	color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	top: 0px;
	clip: rect(0px,auto,auto,auto);
	width: 845px;
	right: 0px;
	display: inline-block;
	padding: 0px;
	text-align: center;
	margin: 0px;
}
.link_foot a {
	text-align: center;
}
.contenedor  #resp_serv{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#resp_serv table tr td {
	text-align: center;
	color: #000;
}

.tablas4 {
	background-color: #999;
	border: thin solid #000;
}
#razon_social #razon_social tr td {
	font-weight: bold;
}
.contenedor #consulta .tablas3 tr td b {
	text-align: center;
}
.contenedor2 #consulta .tablas3 tr td b {
	text-align: center;
}
.contenedor #tabla_local {
	font-size: 10px;
	background-color: #FFF;
	display: block;
}
.contenedor3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clip: rect(0px,auto,auto,auto);
	width: 1750px;
	display: block;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #CCC;
}
.contenedor3 #tabla_local {
	font-size: 11px;
	color: #000;
	background-color: #FFF;
	display: table;
}
.contenedor4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clip: rect(0px,auto,auto,auto);
	width: 1050px;
	display: block;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #CCC;
}
.contenedor4 #tabla_local {
	font-size: 11px;
	color: #000;
	background-color: #FFF;
	display: table;
}
.contenedor2 h1 {
	font-size: 16px;
}
.contenedor2 #tabla_local {
	font-size: 9px;
	color: #000;
	background-color: #FFF;
	display: table;
}

.contenedor #tabla_local {
	font-size: 11px;
	color: #000;
	background-color: #FFF;
	display: table;
}
table.ensayo {
border: 1px solid #ccc;
width: 500px;
margin: 20px auto;
}

table.ensayo caption {
font: bold 1em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #000;
text-align: center;
margin: 10px auto;
}

table.ensayo tbody tr.principal th {
font: bold .9em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #fff;
background: #5FACF3;
text-align: left;
padding: 5px;
border: 0;
}

table.ensayo tbody tr:hover{
	background-color: #FFF;
}

table.ensayo tbody tr.etapas th {
font: bold .9em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #fff;
background: #DC4503;
text-align: left;
padding: 5px;
border-top: 1px solid #eee;
}

table.ensayo tbody th {
font: bold .9em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #DC4503;
background: #FEFFF1;
text-align: left;
padding: 5px;
border-top: 1px solid #eee;
}

table.ensayo tbody td {
font: .9em/1.5em "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #666;
background: #fff;
text-align: left;
padding: 5px;
border-top: 1px dotted #eee;
}

.boton_grande {
	width: 25%;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
}
#razon_social .tablas3 {
	background-color: #999;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	display: table;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: solid;
	font-weight: bold;
}

.contenedor #razon_social .tablas3 a {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
}
#sel_doc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-align: left;
	display: inline;
}
.contenedor #t_deposito {
	color: #000;
	background-color: #FFF;
	width: 99%;
	font-size: 10px;
	text-align: center;
	background-image: none;
}
.contenedor2 #t_deposito {
	color: #000;
	background-color: #FFF;
	width: 99%;
	font-size: 10px;
	text-align: center;
	background-image: none;
}
.contenedor #t_pto_venta {
	color: #000;
	background-color: #FFF;
	width: 80%;
	font-size: 10px;
	text-align: center;
	background-image: none;
}
.contenedor #t_timbre {
	color: #000;
	background-color: #FFF;
	width: 80%;
	font-size: 10px;
	text-align: center;
	background-image: none;
}
.contenerdor2 #consulta {
	font-size: 9px;
}
.boton_grandeExport {
	width: 25%;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #C7F780;
}
