/* CSS Document */
body{
	background-color: #CCC;
	font-family:Verdana;
	font-size:14px;
	padding-left:15px;
	}
.content1{
	width:900px;
	}
.content1 #titulo_principal{
	text-align:center;
	font-size: 13px;
}
h1{
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	font-size: 28px;
	}
h2{
font-size: 20px;
text-align: center;
color: red;
padding-top: 15px;
	}
h3{
text-align: center;
padding-top: 15PX;
padding-bottom: 15PX;
font-style: normal;
text-decoration: underline;
font-weight: bolder;}

.content_no_found h4
{
	font-size:12px;
	color:#F00;
	text-align:center;
	border:1px solid #808080;
	border-radius:10px;
	background:#FFF;
}

.titulo
{
	font-family: arial black;
	font-size: 20px;
	text-shadow: #F3F3F3 1px 2px 3px;
	text-align:center;
}
	
#search_ra table{
	border: 1px solid #000000;
	border-radius: 5px;
	margin-left: 135px;
	border-color: dimgray;
	}
#left{
float: left;
	}

#right{
float: right;
width: 400PX;
	}

#righttt{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: dimgray;
	}
<!--para tablas-->

.tabla_desing {
	text-align: center;
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tabla_desing table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabla_desing tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabla_desing table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabla_desing table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabla_desing tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabla_desing tr:hover td{
	
}
.tabla_desing tr:nth-child(odd){ background-color:#e5e5e5; }
.tabla_desing tr:nth-child(even)    { background-color:#ffffff; }.tabla_local2 td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}.tabla_desing tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla_desing tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla_desing tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla_desing tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-weight:bold;
	color:#000000;
}
.tabla_desing tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.tabla_desing tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla_desing tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
<!--creado por darwin-->


.table_radius tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.table_radius tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.table_radius {
	width:100%;
	background:#ccc;
	border:#999 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:12px;}
	
.table_radius th {padding:4px 10px;
background: #A0A0A0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;}

.table_radius td {
	background:#fff;
	padding:2px 10px 4px 10px;
	font:Verdana, Geneva, sans-serif;}
	
.table_radius tr.even td {background:#eee}

.table_radius tr:last-child td:first-child {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px}
	
.table_radius tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px}
	
.table_radius .td_border_top_left{
	border-top-left-radius:11px;
	}
.table_radius .td_border_top_right{
	border-top-right-radius:10px;
	}
	
	
	
	
<!--solo para tablas anchas-->

.table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.table {
	width:100%;
	background:#ccc;
	border:#999 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:10px;
	text-align:center;}
	
.table th {padding:4px 10px;
background: #A0A0A0;}

.table td {
	background:#fff;
	font:Verdana, Geneva, sans-serif;
	font-size:10px;}
	
.table tr.even td {background:#eee}

.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px}
	
.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px}
	
.table .td_border_top_left{
	border-top-left-radius:11px;
	}
.table .td_border_top_right{
	border-top-right-radius:10px;
	}