@charset "utf-8";
/* CSS Document */
.menu{margin:0; padding:0; width:175px; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0; margin:0 0 1px 0; height:40px; display:block; }
.menu li a{
	text-align:left;
	height:40px;
	padding:0px 25px;
	color:rgb(255,255,255);
	display:block;
	text-decoration:none;
	background-image: url(../images/verMenuImages.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.menu li a:hover{
	color:rgb(255,255,255);
	background-image: url(../images/verMenuImages.png);
	background-repeat: no-repeat;
	background-position: 0px -40px;
}
.menu li a:active{
	color:rgb(255,255,255);
	background-image: url(../images/verMenuImages.png);
	background-repeat: no-repeat;
	background-position: 0px -80px;
}
/*.menu li a.active:hover{
	color:rgb(255,255,255);
	background-image: url(../images/verMenuImages.png);
	background-repeat: no-repeat;
	background-position: 0px -80px;
}*/
.menu li a span{
	line-height:40px;
}

body {
	background-color: #CCC;
}
