@charset "utf-8";
#tope {
	background-image: url(../images/sat_top_main.jpg);
	height: 180px;
	width: 1024px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

body {
	background-color: #CCC;
	margin-bottom: 0px;
	margin-top: 0px;
}#tope {
	display: block;
}
#tope {
	position: absolute;
}
